*   {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: ivory;
}
html {
    height: 100%;
}
body {
    margin: 0px;
    background-color: rgb(221, 164, 117);
    height: 100%;
}

.allButFooter {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 40px);
    
}

#title {
    font-size: 60px;
}

header, footer {
    background-color:rgb(177, 113, 60);

}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.title {
    margin-right: auto;
}
.header-right {
    display: flex;
    gap: 10px;
    height: 40px;
    margin-top: auto;
}

footer {
    display: flex;
    height: 40px;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    color: ivory;
}

.bookshelf-container {
    flex: 1;
    display: flex;
    /* height: 100vh; */
    padding-bottom: auto;
}


.controls-container {
    flex: 0 0 auto;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(157, 85, 26);
    min-height: min-content;
    
}

.bookcards-container {
    position: relative;
    flex: 1 1 auto;

}

.card {
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 10px;
    height: 180px;
    width: 250px;
    background-color:rgb(182, 133, 93);
    border-radius: 8px;
    border-style: solid;
    border-color:  rgb(157, 85, 26);
}

.test {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;

    /* To get scrollable window... */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}




.card-info {
    flex: 1 0 auto;;
    display: flex;
    flex-direction: column;
    width: 70%;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;

}

.status-indicator {
    flex: 0 0 auto;
    margin-bottom: auto;
    background-color: green;
    border-radius: 50%;
    height: 50px; 
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-title {
    font-size: 20px;
    font-weight: 1000;
}
.status, .pages, .start-date {
    font-weight: 1;
    font-size: 16px;

}